.brand-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* border: 1px solid black; */
  min-width: 30vw;
}
.brand-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.brand-icon-container {
  margin-right: 5px;
}

.brand-description-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  /* border: 1px solid black; */
  line-height: 0;
}
.brand-icon-heading {
  background-color: aliceblue;
  font-size: 20px;
  padding: 5px;
}
.brand-description-heading {
  font-size: 25px;
  margin-bottom: 5px;
  padding-top: 12px;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}
