.ui-container {
  display: flex;
  flex-direction: row;
  width: 99%;
  min-height: 99vh;
  border: 1px solid black;
  margin: 1px;
}
.brand-container {
  display: flex;
  flex-direction: column;
  width: 25vh;
  /* border-right: 1px solid black; */
  background-color: #ffbcec;
}
.brand-heading-container {
  border-bottom: 1px solid black;
}
/* .brand-item-container {
  display: flex;
  flex-direction: column;
} */
.heading {
  font-size: 18px;
  font-family: 'Roboto';
  margin-left: 2px;
}
.product-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  /* border-right: 1px solid black; */
  background-color: #c6e2ff;
}
.product-heading-container {
  border-bottom: 1px solid black;
  padding-left: 10px;
}
.cart-container {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.cart-heading-container {
  border-bottom: 1px solid black;
  padding-left: 10px;
}
.product-list {
  background-color: transparent;
}
.cart-item-container {
  margin-left: 15px;
  margin-top: 15px;
  border: 1px solid black;
}
.product-name {
  font-size: 25px;
  line-height: 0;
}
.product-qty {
  font-size: 18px;
}
.checkout-item-container {
  margin-left: 15px;
  margin-top: 15px;
  border: 1px solid black;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #ffebcd;
}
.check-no-of-items {
  font-size: 25px;
  line-height: 0;
  font-weight: 400;
}
.checkout-total {
  font-size: 18px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.input {
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  cursor: pointer;
}
.list {
  cursor: pointer;
}
ul {
  list-style-type: none;
}
